:root {
  --mainClr: hsl(0, 0%, 10%);
  --softClr: hsl(0, 0%, 85%);
  --bgClr: hsl(0, 0%, 98%);
}

body {
  background-color: var(--bgClr);
}

.App {
  text-align: center;
  font-family: monospace;
  color: var(--mainClr);
  background-color: var(--bgClr);
}

button {
  display: flex;
  padding: 5px;
  margin-bottom: 0.5rem;
  border-width: 4px;
  border-radius: 1.75rem;
  color: var(--mainClr);
  background-color: var(--bgClr);
}

/* ==============================================  Top Bar */

#topBar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: calc(4.8rem + 2px);
}

#resetButton svg,
#darkmodeSwitch svg {
  max-width: 1.5rem;
  max-height: 1.5rem;
}

#uiContainer {
  padding: 0 0.25rem 0.25rem 0;
  text-align: left;
  border-right: 2px solid var(--softClr);
  border-bottom: 2px solid var(--softClr);
  line-height: 1.1rem;
  min-width: 8rem;
}

.uiItem {
  min-width: 100%;
  display: flex;
  align-items: center;
}

.uiItem svg {
  max-width: 1.5rem;
  max-height: 1.5rem;
  margin-right: 0.5rem;
}

#hungerIndicator,
#lonelinessIndicator,
#dirtinessIndicator {
  background-color: var(--mainClr);
  height: 10px;
}

/* ============================================== Pet */

.petContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
}

#pet {
  margin-top: 10vh;
  padding-bottom: 15px;
  user-select: none;
  white-space: nowrap;
}

.hatching {
  animation: hatch 2s ease-in-out infinite;
}
.alive {
  animation: wobble 3s ease-in-out infinite;
}
.sick {
  animation: wobble 5s ease-in-out infinite;
}
.dead {
  animation: none;
}

/* ============================================== Actions Menu */

.actionsMenu {
  display: flex;
  justify-content: center;
}

.actionsMenu button:not(:last-of-type) {
  margin-right: 0.75rem;
}

.actionsMenu svg,
.actionsMenu svg {
  max-width: 2rem;
  max-height: 2rem;
}

/* ============================================== Animations */

@keyframes wobble {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.05, 0.9) translateY(7px);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes hatch {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-0.25rem);
  }
  20% {
    transform: translateX(0.25rem);
  }
  30% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(0.25rem);
  }
  50% {
    transform: translateX(-0.25rem);
  }
  60% {
    transform: translateX(0.25rem);
  }
  70% {
    transform: translateX(-0.25rem);
  }
  80% {
    transform: translateX(0.25rem);
  }
  90% {
    transform: translateX(-0.25rem);
  }
  100% {
    transform: translateX(0.25rem);
  }
}
