.App {
  text-align: center;
  font-family: sans-serif;
}

.petContainer {
  display: flex;
  justify-content: center;
  min-height: 50vh;
}

.pet {
  margin: 10vh;
  padding-bottom: 15px;
  font-size: 5rem;
  animation: wobble 3s ease-in-out infinite;
}

button:not(:last-of-type) {
  margin-right: 1rem;
}

button {
  padding: 0.25rem 0.5rem;
  font-size: 1.5rem;
}

@keyframes wobble {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.05, 0.9) translateY(7px);
  }
  100% {
    transform: scale(1, 1);
  }
}
