.App {
  text-align: center;
  font-family: sans-serif;
}

.petContainer {
  display: flex;
  justify-content: center;
  min-height: 40vh;
}

.pet {
  margin-top: 10vh;
  padding-bottom: 15px;
  font-size: 4.2rem;
  animation: wobble 3s ease-in-out infinite;
  user-select: none;
}

button:not(:last-of-type) {
  margin-right: 0.75rem;
}

button {
  padding: 0.5rem 0.75rem;
  font-size: 1.25rem;
  border-width: 4px;
  border-radius: 1.75rem;
  background-color: white;
  user-select: none;
  font-family: monospace;
}

.resetButtonContainer {
  display: flex;
  justify-content: end;
}

#resetButton {
  padding: 0.2rem 0.4rem;
  font-size: 0.75rem;
  border-width: 2px;
  font-weight: bold;
}

@keyframes wobble {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.05, 0.9) translateY(7px);
  }
  100% {
    transform: scale(1, 1);
  }
}
